<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <appSettings>
    <add key="DatabaseHostname" value="workstation54" />
    <add key="DatabaseUsername" value="auto" />
    <add key="DatabasePassword" value="" />
    <add key="MachineDomain" value="TELECOM" />
    <add key="MachineUsername" value="NPAUTO01" />
    <add key="MachinePassword" value="" />
    <add key="MachineVNCPass" value="" />
    <add key="RDPWidth" value="1680" />
    <add key="RDPHeight" value="1050" />
    <add key="RDPFullscreen" value="true" />
    <add key="GitUsername" value="" />
    <add key="GitPassword" value="" />
    <add key="GitURL" value="" />
    <add key="TFVCUsername" value="" />
    <add key="TFVCPassword" value="" />
    <add key="TFVCURL" value="" />
    <add key="SourceControlProduct" value="Git" />
    <add key="SourceControlDeploymentBranch" value="" />
    <add key="ProwlAPIKey" value="" />
    <add key="RFTAppPath" value="S:\Program Files\IBM\SDP" />
    <add key="RFTJREPath" value="S:\Program Files (x86)\Java\jre1.8.0_91" />
    <add key="RFTClean" value="true" />
    <add key="SeleniumAppPath" value="C:\Selenium" />
    <add key="SeleniumJREPath" value="C:\Program Files (x86)\Java\jre1.8.0_91" />
    <add key="SeleniumClean" value="false" />
    <add key="DebugMode" value="false" />
	<add key="ManageExecutionGroupsProjectPath" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>


</configuration>