<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <appSettings>
    <add key="DatabaseHostname" value="localhost" />
    <add key="DatabaseUsername" value="auto" />
    <add key="DatabasePassword" value="UztwMzvXF4t4Z39Hksuos5ta9R92anwq8jjx6q2hTs9WyOAHEOZhmO5ZNzVn9zTuUjHQp6xrmyC4Y8AsUlBtme3ao+t34wr7XSKTSmVfLJnUfQBBdboySVbM2pQMCVRP" />
    <add key="MachineDomain" value="TELECOM" />
    <add key="MachineUsername" value="NPAUTO01" />
    <add key="MachinePassword" value="VXwnSO19TkxjVHWnv2uvTOxpKEEcn8LDWflQxc1tsLTCi2AfAbCtI7dUUVA37qUeZDJSaGtMZUwJd2LFxuOfnGHPV5B0z+p6Z/BD81sv31KOVgJrXi8HIHmBtVEZGayD" />
    <add key="MachineVNCPass" value="Se53QhSTNfU60pHjrNo8XkvBaJuhwslKQInDxs1xGN5gf9roeKDYsxzXBkLoxXSPbwfbMjA46OdxO8qrw2kn4bwkJIIsEfF8wB18fM4BJxQNQ+xf6/fMdzo8tjItb3Xp" />
    <add key="RDPWidth" value="1680" />
    <add key="RDPHeight" value="1050" />
    <add key="RDPFullscreen" value="true" />
    <add key="GitUsername" value="seanhaydongriffin" />
    <add key="GitPassword" value="399ajFpl1EbvJMD6LC2ZWOwQYclYMfkpkmMFN06roTBEV2B7BwLO977lBmox9oU43o+bwtDLL8XnDP4sFgSbEO9DadHT3BewXucorfhC4vHV+bGGLtUrQeizxIGUD2ivTauC5P3dqBPWTY5iicAbggcr4N7Z+t1FWh7mC3buImA=" />
    <add key="GitURL" value="https://github.com/janison/test-automation.git" />
    <add key="TFVCUsername" value="janison\sgriffin" />
    <add key="TFVCPassword" value="FAVa+emBeiurPw+w8lrfMjmuulEuPGaj06aq6KIcOaLD2A8TWeauOSmeIrOV4twTdhjPONVzA3eRo4Sm46jKBRRDsdc6nKmNNdz9RjLSHOb5F6RpQt7Ml5le9PFIJP3M" />
    <add key="TFVCURL" value="https://tfscls.janison.com.au:8081/tfs/clscollection" />
    <add key="SourceControlProduct" value="Git" />
    <add key="SourceControlDeploymentBranch" value="develop" />
    <add key="ProwlAPIKey" value="" />
    <add key="RFTAppPath" value="S:\Program Files\IBM\SDP" />
    <add key="RFTJREPath" value="S:\Program Files (x86)\Java\jre1.8.0_91" />
    <add key="RFTClean" value="true" />
    <add key="SeleniumAppPath" value="C:\Selenium" />
    <add key="SeleniumJREPath" value="C:\Program Files (x86)\Java\jre1.8.0_91" />
    <add key="SeleniumClean" value="false" />
    <add key="DebugMode" value="false" />
    <add key="ManageExecutionGroupsProjectPath" value="R:\ITE\local ITE R6 Se project" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>


</configuration>