<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="4.1.0" targetFramework="net47" />
  <package id="gong-wpf-dragdrop" version="2.4.3" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net47" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="Salaros.ConfigParser" version="0.3.8" targetFramework="net47" />
</packages>